###
# #%L
# CiliaQ_ plugin for ImageJ.
# %%
# Copyright (C) 2017-2020 Jan Niklas Hansen.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: CiliaQ_

# A plugin to analyze cilia in confocal 3D and 4D images

# Author: Jan Niklas Hansen <Jan.Hansen@uni-bonn.de>
# Version: 0.0.10
# Date: 2017/06/30
# Requires: ImageJ

Plugins>JNH, "CiliaQ v0.0.10", ciliaQ_jnh.CiliaQMain